* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1, h2, button {
    text-transform: uppercase;
}

#header {
    text-align: center;
    background-color: #B3D4FC;
    margin-bottom: 5rem;
}

main {
    text-align: center;
}

/* ul {
    display: flex;
    flex-wrap: wrap;
} */

li {
    /* display: flex; */
    list-style: none;
    margin: 0;
}